<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wordpress photo awards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1267FADE1D70AE6A00DA9BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1267FAF21D70AE6B00DA9BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1267FAFD1D70AE6B00DA9BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
